/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* Colors */
  --background-color: #1e1e1e;
  --background-alternate-color: #2d2d2d;
  --background-extra-alternate-color: #3c3c3c;
  --text-color: #e1e1e1;
  --first-alt-color: #b3e1ff;
  --second-alt-color: #fbffb3;
}

h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  margin:0 auto;
  text-align:center;
  
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.01em;
}

/* Classes */
.background-to-alternate-gradient {
  padding-top: 15px;
  background: linear-gradient(180deg, var(--background-color) 0%, var(--background-alternate-color) 100%);
}

.alternate-to-background-gradient {
  padding-top: 15px;
  background: linear-gradient(0deg, var(--background-color) 0%, var(--background-alternate-color) 100%);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  background-color: var(--background-color);
  color: white;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header-nav-button {
  text-decoration: none;
  padding: 5px 20px;
  background-color: var(--background-alternate-color);
  color: var(--text-color);
  border-radius: 20px;
}

.header-nav-button:hover {
  text-decoration: none;
  padding: 5px 20px;
  background-color: var(--background-extra-alternate-color);
  color: var(--text-color);
  border-radius: 30px;
}

/* Sections */
#photo {
  padding-left: 50px;
  padding-right: 50px;
}

.photo-text-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  text-align: center;
  background: linear-gradient()
}

.photo-frame {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-text-content {
  max-width: 600px;
}

.photo-text-content h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.photo-text-content p {
  margin: 0;
  font-size: 16px;
}

#contact {
  background-color: var(--background-alternate-color);
  text-align: center;
}

#social {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-alternate-color);
}

#projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

#gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  justify-content: center;
  gap: 20px;
}

.screenshot img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.screenshot iframe {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.screenshot img:hover {
  cursor: pointer;
}

#screenshot-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
}

#screenshot-container img {
  max-width: 80%;
  object-fit: contain;
}

#screenshot-container iframe {
  max-width: 80%;
  object-fit: contain;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #c71610;
}

ul li:nth-child(2) a:hover .fab {
  color: #24292e;
}

ul li:nth-child(3) a:hover .fab {
  color: #7289da;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}